<article class="decks">
    <article class="all-decks">
        <h3>all decks</h3>
        <ul>
            @if (_allDecks is not null)
            {
                foreach (DeckReadDTO deck in _allDecks)
                {
                    // Add conditional class for the selected deck
                    var deckClass = deck.Id == _currentDeckId ? "all-deck selectedDeck" : "all-deck";

                    <li class="@deckClass">
                        <p>
                            @deck.DeckName
                            <button class="btn btn-info" @onclick="@(() => SetAsCurrentDeck(deck.Id))">set as currentDeck</button>
                            <button class="btn btn-info" @onclick="@(() => RemoveDeck(deck.Id))">Remove</button>
                        </p>

                        <ul class="deckCards">
                            @foreach (var deckCard in deck.CardDecks)
                            {
                                var cardName = _cardNames.ContainsKey(deckCard.CardId) ? _cardNames[deckCard.CardId] : "Loading...";
                                <li class="deck-item">
                                    <p class="card-name">name: @cardName</p>
                                    <p class="counter">amount: @deckCard.Amount</p>
                                    <button @onclick="@(() => AddCardToDeck(deck.Id, deckCard.CardId))">+</button>
                                    <button @onclick="@(() => RemoveCardFromDeck(deck.Id, deckCard.CardId))">-</button>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </article>
    <article class="newDeck">
        <h3>create new deck:</h3>
        <EditForm Model="@_deckViewModel" OnValidSubmit="HandleAddDeckSubmit" FormName="DeckForm" class="deck-builder">
            <label for="deck-name">Deck Name:</label>
            <InputText id="deck-name" @bind-Value="_deckViewModel!.DeckName" class="form-control"></InputText>
            <button type="submit" class="btn btn-info">Save</button>
        </EditForm>
    </article>
</article>
