@namespace Howest.MagicCards.Web.Components.Pages
<EditForm Model="@CardFilterViewModel" OnValidSubmit="@OnSubmit" FormName="CardFilterForm" class="form">
    <div class="form-group">
        <label for="card-name">Card Name:</label>
        <InputText id="card-name" @bind-Value="CardFilterViewModel.CardName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="card-text">Card Text:</label>
        <InputText id="card-text" @bind-Value="CardFilterViewModel.CardText" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="card-artist">Artist Name:</label>
        <InputSelect id="card-artist" @bind-Value="CardFilterViewModel.ArtistName" class="form-control">
            <option value="">Not Selected</option>
            @if (Artists != null)
            {
                foreach (var artist in Artists)
                {
                    <option value="@artist.FullName">@artist.FullName</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="card-set">Set code:</label>
        <InputSelect id="card-set" @bind-Value="CardFilterViewModel.SetCode" class="form-control">
            <option value="">Not Selected</option>
            @if (Sets != null)
            {
                foreach (var set in Sets)
                {
                    <option value="@set.Code">@set.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="card-rarity">Rarity:</label>
        <InputSelect id="card-rarity" @bind-Value="CardFilterViewModel.RarityCode" class="form-control">
            <option value="">Not Selected</option>
            @if (Rarities != null)
            {
                foreach (var rarity in Rarities)
                {
                    <option value="@rarity.Code">@rarity.RarityName</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="card-type">Type:</label>
        <InputSelect id="card-type" @bind-Value="CardFilterViewModel.CardType" class="form-control">
            <option value="">Not Selected</option>
            @if (Types != null)
            {
                foreach (var type in Types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            }
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-info">Filter</button>
</EditForm>

@code {
    [Parameter] public CardFilterViewModel CardFilterViewModel { get; set; }
    [Parameter] public IEnumerable<ArtistReadDTO> Artists { get; set; }
    [Parameter] public IEnumerable<SetReadDTO> Sets { get; set; }
    [Parameter] public IEnumerable<RarirtyReadDTO> Rarities { get; set; }
    [Parameter] public IEnumerable<TypeReadDTO> Types { get; set; }

    [Parameter] public EventCallback OnSubmit { get; set; }
}
